
body {
  background-image: url("http://www.hdwallpapersfreedownload.com/uploads/large/games/league-of-legends-desktop-wallpaper.jpg");
  background-size: cover;
}


body {
  text-align: center;
  color: white;
}
h2 {
  color: white;
}
a:hover{
  background-color: red;
}
a{
  color: white;
}
.skill {
  font-size: 20px;
  background: rgba(0, 0, 0, .4)
}
