
body {
  background-image: url("http://www.hdwallpapersfreedownload.com/uploads/large/games/league-of-legends-desktop-wallpaper.jpg");
  background-size: cover;
}


body {
  text-align: center;
  color: white;
}
h2 {
  color: white;
}
